body {
    background-color: $navBgColor;
}
header.cart {
    background-color: lightgray;
}
.ordered {
    color:  $h1Color;
    font-weight: $h1FtWeight;
    font-family: $h1FtFamily;
    font-size:  $h1FtSize;
}

.remove {
    cursor: pointer;
    font-size: 15px;
}
.remove :hover {
    background-color: $btnHovBgColor;
    color: $btnHovTextColor;
}
.checkout {
    cursor: pointer;
    font-size: 15px;
}
checkout :hover {
    background-color: $btnHovBgColor;
    color: $btnHovTextColor;
}
.cart {
    display: flex;
    width: 100vw;
    height: 75px;
    background-color: wheat;
    align-items: center;
    justify-content: space-around;
}
.description {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
