body {
    background-color: $navBgColor;
}
nav {
    overflow: $navOverflow; 
    background-color: $navBgColor;
    position: $navPosition;
    width: $navWidth;
    display: $navDisplay;
    justify-content: $navJustCon;
    align-items: $navAlItems;
    height: $navHeight;
}
nav h1 {
    color:  $h1Color;
    font-weight: $h1FtWeight;
    font-family: $h1FtFamily;
    font-size:  $h1FtSize;
}
.services-links {
  float: $btnFloat;
  color: $btnTextColor;
  text-align: $btnTextAlign;
  padding: $btnPadding;
  text-decoration: $btnTextDecor;
  font-size: $btnFontSize;
  border: $btnBorder;
  cursor: $btnCurs;
  background-color: $btnBgColor;
  width: $btnWidth;
  height: $btnHeight;

}
.services-links button:hover {
    background-color:  $btnHovBgColor;
    color:  $btnHovTextColor;
    font-size:  $btnFtSize;
    cursor: $btnCursor;
} 
.course-list {
    display: flex;
    flex-direction: column;
}
.add-cart {
  float: $btnFloat;
  color: $btnTextColor;
  text-align: $btnTextAlign;
  padding: $btnPadding;
  text-decoration: $btnTextDecor;
  font-size: $btnFontSize;
  border: $btnBorder;
  cursor: $btnCurs;
  background-color: $btnBgColor;
  width: $btnWidth;
  height: $btnHeight;
}
.add-cart button:hover {
    background-color:  $btnHovBgColor;
    color:  $btnHovTextColor;
    font-size:  $btnFtSize;
    cursor: $btnCursor;

}
.mapped-courses {
    width: 90vw;
    margin: 80px
} 
