header {
    overflow: $navOverflow; 
    background-color: $navBgColor;
    position: $navPosition;
    width: $navWidth;
    display: $navDisplay;
    justify-content: $navJustCon;
    align-items: $navAlItems;
    height: $navHeight;
}
h1 {
    color: $h1Color;
    font-weight: $h1FtWeight;
    font-family:  $h1FtFamily;
    font-size: $h1FtSize;
}
.login {
    display: flex;
    justify-content: space-around;
    margin-top: 20px
}
.log {
    font-size: 15px;
    cursor: pointer;
    width: 100px
}
.log button:hover {
    background-color: royalblue;
    color: white;
}  
input {
    height: 20px;
    width: 200px
}  
.return {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 20px
}
.return-button {
    float: $btnFloat;
  color: $btnTextColor;
  text-align: $btnTextAlign;
  padding: $btnPadding;
  text-decoration: $btnTextDecor;
  font-size: $btnFontSize;
  border: $btnBorder;
  cursor: $btnCurs;
  background-color: $btnBgColor;
  width: $btnWidth;
  height: $btnHeight;
}
.return-button button:hover {
    background-color:  $btnHovBgColor;
    color:  $btnHovTextColor;
    font-size:  $btnFtSize;
    cursor: $btnCursor;
}
@media (max-width: 578px) {
    .login {
        flex-direction: column;
        align-items: center;
    }  
    header {
        flex-wrap: wrap;
        
    }  
}